/*scheme color overall design */
:root {
  --primary-color-branding: #00B4C5;
  --secondary-color-branding: #8c15e9;
  --tertiary-color-branding: #B1E1EA;
  --details-color-branding: #30373F;
  --replacement-color-branding: #8DD2DD;
}
body{
  background-color:#e0fafe;
  font-family: "Lato",sans-serif;
  letter-spacing: 0.7px;
}


/*layout desktop*/
img.logo{
  margin: auto;
  display:block;
  width:170px;
  height:170px;
  margin-bottom: -36px;
  margin-top: -36px;
}
.nav_bar{
 display: flex;
 flex-wrap: wrap;
 background-color: var(--secondary-color-branding);
 color: var(--tertiary-color-branding);
}
.menuList{
 display: flex;
 gap: 20px;
 list-style: none;
 padding: 30px;
 font-size: 1.2rem;
 font-weight:400;
}

.menuClickeableLink{
  color: var(--tertiary-color-branding);
  text-decoration: none;
}

.menuClickeableLink:hover{
  color:var(--primary-color-branding);
}

.search-container{
 align-self: center;
 margin-left: auto;
 margin-right: 20px;
}
.search-bar{
  width: 300px;
  border:none;
  padding: 11px;
 font-size: 1.2rem;
}
.search-btn{
  background-color: var(--primary-color-branding);
  border: none;
  font-size: 1.2rem;
  padding:11px 30px;
  color: var(--tertiary-color-branding);
  cursor: pointer;
}

.search-btn:hover{
  background-color: var(--tertiary-color-branding);
  color: var(--primary-color-branding);
}

.title{
  text-align: center;
  font-size: 45px;
}

/*Footer*/
footer{
  background-color: var(--primary-color-branding);
  padding: 30px;
  text-align: center;
}